@font-face {
  font-family: "Product Sans";
  src: url("../fonts/Product\ Sans\ Regular.otf") format("opentype");
}

@font-face {
  font-family: "Product Sans";
  font-weight: bold;
  src: url("../fonts/Product\ Sans\ Bold.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../assets/WebCV_2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.cvs {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cvs__container {
  position: relative;
}

.cv {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.cv__link {
  flex: 1;
}

.cv__display {
  height: 400px;
  width: 300px;
  object-fit: cover;
}

.cv__link {
  display: block;
  position: relative;
}

.cv__link::before,
.cv__link::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 400px;
  z-index: -1;
  background-color: hsl(0, 10%, 98%);
}

.cv__link::after {
  transform: rotate(-12deg);
}

.cv__link::before {
  transform: rotate(-25deg);
}

.cv__link::after {
  bottom: -1.5vmin;
  left: -1.5vmin;
  right: -1.5vmin;
  top: -1.5vmin;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.25);
}

.cv--hidden {
  display: none;
}

.cv__members {
  margin-left: 16px;
  min-width: 0;
}

.cv__team {
  font-family: "Product Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 0;
  width: 120px;
}

.cv__member {
  display: flex;
  flex-direction: column;
}

.cvs__button {
  position: absolute;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  top: 45%;
}

.cvs__button--left {
  left: -20%;
}

.cvs__button--right {
  right: -10%;
}

@media only screen and (max-width: 1332px) {
  .cv__member {
    flex-direction: column;
  }

  .cv__member-name::after {
    content: "";
    padding: 0;
  }
}

@media only screen and (max-width: 500px) {
  .cv {
    gap: 0;
  }

  .cv__display {
    height: 300px;
    width: 200px;
  }

  .cv__link::before,
  .cv__link::after {
    content: "";
    position: absolute;
    height: 300px;
    width: 200px;
    z-index: -1;
    background-color: hsl(0, 10%, 98%);
  }

  .cv__members {
    width: 50px;
  }

  .cv__team {
    font-size: 16px;
    font-family: "Open Sans", serif;
  }

  .cv__member-name {
    font-size: 14px;
  }

  .cv__member-id {
    font-size: 12px;
  }

  .cvs__button--left {
    left: -50px;
  }

  .cvs__button--right {
    right: -50px;
  }
}
